src/main/resources/wsdl/cux_car_manage_sys_pkg.xml

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions name="CUX_CAR_MANAGE_SYS_PKG"
             targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/"
             xmlns:tns="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns1="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/del_car_vendors_list/"
             xmlns:tns2="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_batch_list/"
             xmlns:tns3="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_order_list/"
             xmlns:tns4="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_vendors_list/"
             xmlns:tns5="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/insert_car_batch_list/"
             xmlns:tns6="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/insert_car_vendors_list/"
             xmlns:tns7="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/update_car_vendors_list/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/del_car_vendors_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_CUX_CAR_MANAGE_SYS_PKG_DEL_CAR_VENDORS_LIST.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_batch_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_ISG_CUX_CA_GET_CA13710225_CUX_CAR_MANAGE_SYS_PKG-24GET_CA.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_order_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_ISG_CUX_CA_GET_CA9225517_CUX_CAR_MANAGE_SYS_PKG-24GET_CA.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/get_car_vendors_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_ISG_CUX_CA_GET_CA3736011_CUX_CAR_MANAGE_SYS_PKG-24GET_CA.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/insert_car_batch_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_CUX_CAR_MANAGE_SYS_PKG_INSERT_CAR_BATCH_LIST.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/insert_car_vendors_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_CUX_CAR_MANAGE_SYS_PKG_INSERT_CAR_VENDORS_LIST.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/update_car_vendors_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/APPS_CUX_CAR_MANAGE_SYS_PKG_UPDATE_CAR_VENDORS_LIST.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_sys_pkg/">
            <element name="SOAHeader">
                <complexType>
                    <sequence>
                        <element name="Responsibility" minOccurs="0" type="string"/>
                        <element name="RespApplication" minOccurs="0" type="string"/>
                        <element name="SecurityGroup" minOccurs="0" type="string"/>
                        <element name="NLSLanguage" minOccurs="0" type="string"/>
                        <element name="Org_Id" minOccurs="0" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="DEL_CAR_VENDORS_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns1:InputParameters"/>
    </message>
    <message name="DEL_CAR_VENDORS_LIST_Output_Msg">
        <part name="body" element="tns1:OutputParameters"/>
    </message>
    <message name="GET_CAR_BATCH_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns2:InputParameters"/>
    </message>
    <message name="GET_CAR_BATCH_LIST_Output_Msg">
        <part name="body" element="tns2:OutputParameters"/>
    </message>
    <message name="GET_CAR_ORDER_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns3:InputParameters"/>
    </message>
    <message name="GET_CAR_ORDER_LIST_Output_Msg">
        <part name="body" element="tns3:OutputParameters"/>
    </message>
    <message name="GET_CAR_VENDORS_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns4:InputParameters"/>
    </message>
    <message name="GET_CAR_VENDORS_LIST_Output_Msg">
        <part name="body" element="tns4:OutputParameters"/>
    </message>
    <message name="INSERT_CAR_BATCH_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns5:InputParameters"/>
    </message>
    <message name="INSERT_CAR_BATCH_LIST_Output_Msg">
        <part name="body" element="tns5:OutputParameters"/>
    </message>
    <message name="INSERT_CAR_VENDORS_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns6:InputParameters"/>
    </message>
    <message name="INSERT_CAR_VENDORS_LIST_Output_Msg">
        <part name="body" element="tns6:OutputParameters"/>
    </message>
    <message name="UPDATE_CAR_VENDORS_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns7:InputParameters"/>
    </message>
    <message name="UPDATE_CAR_VENDORS_LIST_Output_Msg">
        <part name="body" element="tns7:OutputParameters"/>
    </message>
    <portType name="CUX_CAR_MANAGE_SYS_PKG_PortType">
        <operation name="DEL_CAR_VENDORS_LIST">
            <input message="tns:DEL_CAR_VENDORS_LIST_Input_Msg"/>
            <output message="tns:DEL_CAR_VENDORS_LIST_Output_Msg"/>
        </operation>
        <operation name="GET_CAR_BATCH_LIST">
            <input message="tns:GET_CAR_BATCH_LIST_Input_Msg"/>
            <output message="tns:GET_CAR_BATCH_LIST_Output_Msg"/>
        </operation>
        <operation name="GET_CAR_ORDER_LIST">
            <input message="tns:GET_CAR_ORDER_LIST_Input_Msg"/>
            <output message="tns:GET_CAR_ORDER_LIST_Output_Msg"/>
        </operation>
        <operation name="GET_CAR_VENDORS_LIST">
            <input message="tns:GET_CAR_VENDORS_LIST_Input_Msg"/>
            <output message="tns:GET_CAR_VENDORS_LIST_Output_Msg"/>
        </operation>
        <operation name="INSERT_CAR_BATCH_LIST">
            <input message="tns:INSERT_CAR_BATCH_LIST_Input_Msg"/>
            <output message="tns:INSERT_CAR_BATCH_LIST_Output_Msg"/>
        </operation>
        <operation name="INSERT_CAR_VENDORS_LIST">
            <input message="tns:INSERT_CAR_VENDORS_LIST_Input_Msg"/>
            <output message="tns:INSERT_CAR_VENDORS_LIST_Output_Msg"/>
        </operation>
        <operation name="UPDATE_CAR_VENDORS_LIST">
            <input message="tns:UPDATE_CAR_VENDORS_LIST_Input_Msg"/>
            <output message="tns:UPDATE_CAR_VENDORS_LIST_Output_Msg"/>
        </operation>
    </portType>
    <binding name="CUX_CAR_MANAGE_SYS_PKG_Binding" type="tns:CUX_CAR_MANAGE_SYS_PKG_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DEL_CAR_VENDORS_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:DEL_CAR_VENDORS_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GET_CAR_BATCH_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:GET_CAR_BATCH_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GET_CAR_ORDER_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:GET_CAR_ORDER_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GET_CAR_VENDORS_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:GET_CAR_VENDORS_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="INSERT_CAR_BATCH_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:INSERT_CAR_BATCH_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="INSERT_CAR_VENDORS_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:INSERT_CAR_VENDORS_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UPDATE_CAR_VENDORS_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
            <input>
                <soap:header message="tns:UPDATE_CAR_VENDORS_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CUX_CAR_MANAGE_SYS_PKG_Service">
        <port name="CUX_CAR_MANAGE_SYS_PKG_Port" binding="tns:CUX_CAR_MANAGE_SYS_PKG_Binding">
            <soap:address
                    location="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_sys_pkg/"/>
        </port>
    </service>
</definitions>