src/main/resources/wsdl/cux_car_manage_system.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions name="CUX_CAR_MANAGE_SYSTEM_PKG"
             targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_system_pkg/"
             xmlns:tns="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_system_pkg/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns1="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_system_pkg/get_car_order_list/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_system_pkg/get_car_order_list/">
            <include
                    schemaLocation="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_system_pkg/APPS_ISG_CUX_CA_GET_CA9438906_CUX_CAR_MANAGE_SYSTEM_PKG-24GET.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/apps/cux/soaprovider/plsql/cux_car_manage_system_pkg/">
            <element name="SOAHeader">
                <complexType>
                    <sequence>
                        <element name="Responsibility" minOccurs="0" type="string"/>
                        <element name="RespApplication" minOccurs="0" type="string"/>
                        <element name="SecurityGroup" minOccurs="0" type="string"/>
                        <element name="NLSLanguage" minOccurs="0" type="string"/>
                        <element name="Org_Id" minOccurs="0" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="GET_CAR_ORDER_LIST_Input_Msg">
        <part name="header" element="tns:SOAHeader"/>
        <part name="body" element="tns1:InputParameters"/>
    </message>
    <message name="GET_CAR_ORDER_LIST_Output_Msg">
        <part name="body" element="tns1:OutputParameters"/>
    </message>
    <portType name="CUX_CAR_MANAGE_SYSTEM_PKG_PortType">
        <operation name="GET_CAR_ORDER_LIST">
            <input message="tns:GET_CAR_ORDER_LIST_Input_Msg"/>
            <output message="tns:GET_CAR_ORDER_LIST_Output_Msg"/>
        </operation>
    </portType>
    <binding name="CUX_CAR_MANAGE_SYSTEM_PKG_Binding" type="tns:CUX_CAR_MANAGE_SYSTEM_PKG_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GET_CAR_ORDER_LIST">
            <soap:operation
                    soapAction="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_system_pkg/"/>
            <input>
                <soap:header message="tns:GET_CAR_ORDER_LIST_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CUX_CAR_MANAGE_SYSTEM_PKG_Service">
        <port name="CUX_CAR_MANAGE_SYSTEM_PKG_Port" binding="tns:CUX_CAR_MANAGE_SYSTEM_PKG_Binding">
            <soap:address
                    location="http://develop.china-fuhai.net:8005/webservices/SOAProvider/plsql/cux_car_manage_system_pkg/"/>
        </port>
    </service>
</definitions>